.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1200px;
  margin: auto;
  text-align: center;
}

html {
  padding: 0;
  margin: 0;
}
main {
  background: black;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
}
section {
  text-align: center;
  
}
figcaption {
  display: inline;
  text-align: center;
  display: flex;
  justify-content: center;
}

.gallery > * {
  margin: 1em;
}
img {
  max-width: 300px;
  max-height: 400px;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 0 auto;
  padding: 1em 0em 0em 0em;
  color: snow;
}
p {
color: snow;
max-width: 20ch;
text-align: center;
}
img {
  box-shadow: snow 0px 1px 10px 3px;
}